<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation using HTML CSS & JS | CodeWithNepal</title>
  <link rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="col-sm-6">
    <div class="register-form">
        <form   >
            <h2>Add Car</h2>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label"> Car Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="carName" placeholder="Enter Car Name">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="city" placeholder="Chennai / Delhi / Mumbai">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="type" placeholder="Economy / Compact / SUV / MUV  ">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Transmission </label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="transmission" placeholder="Manual / Automatic">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Fuel</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="fuel" placeholder="Disel / Petrol">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Baggage</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="baggage" placeholder=" 2 / 3">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Seater</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" formControlName="seater" placeholder="5 / 7">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="inputPassword3" formControlName="password" placeholder="Enter password">
              </div>
            </div>
           
            
            <button type="submit" class="btn btn-primary" >Add</button>
            
           

        </form>
    </div> 
</div> 
 -->



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent and Drive</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>
<!-- <button mat-raised-button color="primary" (click)="openScrollableContent(content)"> Add Your Car Details</button> -->

<div class="container">
  <div class="addCar">
  <h2>ADD YOUR CAR</h2>
  <button mat-raised-button color="primary" (click)="openScrollableContent(content)"> Add Your Car Details</button>

  <h1>START EARNING NOW!!!</h1>
</div>
<button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>
<div class="btm">
               
                 
  <div class="container">
      <div class="row">
          <div class="col-sm-6" id="iframeCnt">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4012924.123838464!2d78.28976490000001!3d10.821166349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1689336731348!5m2!1sen!2sin"
                  width="90%" height="250px" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-sm-6">
              <h4>Contact no :9320930490</h4>
              <h4>Address :</h4>
              <p>765,first street,<br>
                  4th avenue,<br>
                  four roads-693220 </p>
              <p>Include an email and phone number so visitors can get in touch
                  with you on their first attempt. Include a short form using
                  fields that'll help your business understand who's contacting
                  them. Have a call-to-action to provide visitors with another action
                  to take if they choose not to complete the form.</p>
          </div>
      </div>

  </div>
     
  </div>
  <p class="text-center">&copy;CopyRights All Rights Reserved by SpeedyWheels.</p>

<!-- 
<div class="card">
    <div class="card-header">
     <h2 class="text-center"> Login</h2>
    </div>
    <div class="card-body">

        <form [formGroup]="loginForm" (ngSubmit)="login( )">
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail3" formControlName="email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="inputPassword3" formControlName="pass">
              </div>
            </div>
           
            
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
          </form>
      
     
    </div>
  </div> -->
  <div id="home-container-1" class="container">

    <div class="row">
        <div class="col-sm-6" id="home-container-1-id-1">
            <!-- <div>
                <div class="guarentee-img">
                     
                  <img  src="https://static.thenounproject.com/png/371299-200.png">
                  <h4>Admin Page</h4>
              </div>
                <p>Only for Admin access. Not for any Users or Hosts</p>
            </div> -->




        </div>

    </div>


</div>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add your car details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
    <div class="col-sm-10" id="formbg">
      <form [formGroup]=" addForm" (ngSubmit)="addCar()">
          <h2>Add your Car</h2>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Customer ID</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="custId"  placeholder="Enter Customer ID">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="email"  placeholder="Enter your email">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Car Name</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="carName"  placeholder="Enter Car Name">
            </div>
          </div>
         
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Car No</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="carno"  placeholder="Enter Car Registration No">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="city"  placeholder="Bangalore / Chennai / Delhi / Mumbai / Kolkata">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Transmission</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="transmission"  placeholder="Automatic / Manual">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="type"  placeholder="Economy / Compact / SUV / MUV">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">fuel</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="fuel"  placeholder="Disel / Petrol">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Cost / day</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="price"  placeholder="Rs. ">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Image URl</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="image"  placeholder="Enter your your car photo URL">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Baggage</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="baggage"  placeholder="2 / 3">
            </div>
          </div>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Seats</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="inputEmail3" formControlName="seater"  placeholder="5 / 7">
            </div>
          </div>
          
         
          
          <button type="submit" class="btn btn-primary" >Add</button>
      </form>
  </div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>



<hr />

<pre>{{ closeResult }}</pre>
</body>

</html>



