<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
</head>

    <body id="myPage">
        <nav class="navbar navbar-expand-sm ">
            <img src="https://speedycars.eu/images/logo.svg" width="100px" style="margin-left: 20px;">
  
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']">
                      Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['cancellation']">
                      Cancellation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['feedBack']">
                      FeedBack
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['adminLogin']">
                      Admin
                    </a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>
 
        <!-- <div class="btm">
               
                 
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="iframeCnt">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4012924.123838464!2d78.28976490000001!3d10.821166349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1689336731348!5m2!1sen!2sin"
                        width="90%" height="250px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-sm-6">
                    <h4>contact no :93209304904</h4>
                    <h4>Address :</h4>
                    <p>765,first street,<br>
                        4th avenue,<br>
                        four roads-693220 </p>
                    <p>Include an email and phone number so visitors can get in touch
                        with you on their first attempt. Include a short form using
                        fields that'll help your business understand who's contacting
                        them. Have a call-to-action to provide visitors with another action
                        to take if they choose not to complete the form.</p>
                </div>
            </div>

        </div>
           
        </div> -->
              <!--Footer-->
           
  
            
        
    </body> 