<div class="check_sec">
    <div class="form-check"><input class="form-check-input cursor-pointer" id="BrandName_1"
            type="checkbox"><label class="form-check-label cursor-pointer text-capitalize"
            for="BrandName_1">maruti swift</label></div>
</div>
<div class="check_sec">
    <div class="form-check"><input class="form-check-input cursor-pointer"
            id="LuggageCapacity_0" type="checkbox"><label
            class="form-check-label cursor-pointer" for="LuggageCapacity_0">2</label></div>
</div>
<div class="row mt-md-3">
    <div class="col-lg-4 col-md-3 col-sm-12 col-12 mb-md-3 mobile_991_px_0">
        <div class="car_features">
            <div class="d-flex align-items-center mb-3"><img
                    src="/_next/static/media/automatic.3de00118.svg" alt="">
                <p>Manual</p>
            </div>
            <div class="d-flex align-items-center mb-3"><img
                    src="/_next/static/media/petrol.95a6232f.svg" alt="">
                <p>Diesel</p>
            </div>
            <div class="d-flex align-items-center mb-3"><img
                    src="/_next/static/media/seat.fa55a3aa.svg" alt="">
                <p>2 Baggage</p>
            </div>
            <div class="d-flex align-items-center"><img
                    src="/_next/static/media/pickup_vehical.c834bf16.svg" alt="">
                <p>6 Seater </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="outset">
            <p>300kms/day</p>
            <h5>₹&nbsp;&nbsp;&nbsp;6,480</h5>
            <p class="mb-0"><span>1013 Free kms</span></p>
        </div>
    </div>