
<html>
  <head>

  </head>
  <body>
     
       <div class="frm">

          <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
    <h1>Feedback Form</h1>
    <div class="container">
    <div>
    
    <input type="text" formControlName="uname" placeholder="Enter Your name">
  </div>
  <div>
   
    <input type="email" formControlName="email" placeholder="Enter Your email">
  </div>
  <div>
    
    <input type="text" formControlName="id" placeholder="Enter Your Booking id">
  </div>
  <div> 
    <p>Were you satisfied with the service as provided you?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
      <label class="form-check-label" for="inlineRadio1">yes</label>
      
     
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
      <label class="form-check-label" for="inlineRadio1">No</label>
      
     
    </div>
   
</div>

  <div>
    <p>Did you experience any problems accessing vehicles or services?</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio1">yes</label>
      
     
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio1">No</label>
      
     
    </div>
  </div>
  <div>
    <label for="feedback">Write your feedback:</label>
    <textarea  formControlName="feedback" placeholder="enter your coments..."></textarea>
  </div>
  <button type="submit" [disabled]="!formVar.valid" class="btn btn-primary" >Submit</button>
  </div>
 
</form>
    </div>
     
   

  </body>
</html>
